#ignorar dependencias, archivos temporales y compilados 
node_modules/
dist/
*.log
.env
.DS_Store
clase23/postgres/
clase23/pgadmin/sessions/
clase23/pgadmin/storage/
clase23/pgadmin/pgadmin4.db
clase23/postgres/
clase23/pgadmin/sessions/
clase23/pgadmin/storage/
clase23/pgadmin/pgadmin4.db
